/vendor
/node_modules
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.*
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
/public/storage
/public/hot
/public/build
/public/mix-manifest.json
/.idea
/.vscode
/.zed
/.fleet
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/auth.json
.phpactor.json
.env.backup
.env.production
